<div class="container">
  <a href="/contacts/<%= @contact.id %>/edit">Edit contact</a>
  <ul>
    <li><%= @contact.name %></li>
    <li><%= @contact.email %></li>
  </ul>

  Addresses:
  <% @contact.addresses.each do |address| %>
    <ol>
      <li><a href="/contacts/<%= @contact.id %>/addresses/<%= address.id %>/edit"><%= address.street %></a>, <%= address.city %>, <%= address.state %>, <%= address.zip %></li>
    </ol>
  <% end %>
  <a href="/contacts/<%= @contact.id %>/addresses/new">New Address</a>
</div>
